* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --color-primary: rgba(92, 128, 188);
  --color-secondary: #3d3b30;
  --color-third: #f0f0c9;
  --color-back: #e9edde;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 400px;
  height: 100px;
  background-color: var(--color-back);
  padding: 25px 50px;
  overflow: hidden;
  border-radius: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: 0.6s ease-in-out;
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  color: var(--color-secondary);
  width: 70%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 6px;
}

.search-box input::placeholder {
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.search-box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: var(--color-secondary);
  background: var(--color-third);
  border-radius: 50%;
  font-size: 22px;
  transition: 0.6s ease-in-out;
}

.search-box button:hover {
  color: #fff;
  background: var(--color-secondary);
}

.search-box i {
  position: relative;
  color: var(--color-secondary);
  font-size: 28px;
  padding-right: 6px;
}

.weather-box {
  text-align: center;
}

.weather-box img {
  width: 60%;
  margin-top: 30px;
}

.weather-box .temperature {
  position: relative;
  color: var(--color-secondary);
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}

.weather-box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-box .description {
  color: var(--color-secondary);
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}

.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details i {
  color: var(--color-secondary);
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}

.weather-details span {
  color: var(--color-secondary);
  font-size: 22px;
  font-weight: 500;
}

.weather-details p {
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 500;
}

.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

.not-found img {
  width: 70%;
}

.not-found p {
  color: var(--color-secondary);
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.weather-box,
.weather-details {
  scale: 0;
  opacity: 0;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

.weather-box .fadeIn {
  width: 100%;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
